@model AccountUpdateViewModel
<br />
<br />

<hr class="featurette-divider">

<div class="container">
    <h2>UpdateProfile</h2>
    <br />
    <br />

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>

        <input type="hidden" asp-for="ProfileId" />

        <br />
        <input class="btn btn-primary" type="submit" value="Update" />
    </form>
</div>
<br />