<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li>
                <a asp-action="Register" asp-controller="Account">Register</a>
            </li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
