
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Grande Travel</h2>

<p>
    Grande Travel is a company that provides travel packages to make your travel spectacular. It currently
    specialises in Australian destinations olny, with the possibility of expanding to world-wide destinations
    in the future.
</p>